@model Ropa
@{
    ViewData["Title"] = "Agregar un nuevo producto";
}
<h1>@ViewData["Title"]</h1>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Codigo</label>
        <input asp-for="Codigo" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Id Distribuidor</label>
        <input asp-for="IdDistribuidor" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Marca</label>
        <input asp-for="Marca" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo</label>
        <input asp-for="Tipo" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input asp-for="Stock" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Precio Docena</label>
        <input asp-for="PrecioDocena" class="form-control">
    </div>


    <div class="row col-6">
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-outline-primary">Regresar</a>
        </div>

    </div>
</form>

<p>Esta pagina agraga un nuevo producto de ropa</p>
